[id^="forecast"] {
    display: grid;
    align-items: start;
    justify-items: start;
    justify-content: start;
    padding: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
}

[id$="0"] {
    background-color: rgb(211, 211, 211);
}

#day {
    font-size: 13pt;
    color: rgb(100, 100, 100);
    font-family: system-ui;
    place-self: center;
    padding-bottom: 10px;
}

#temprature {
    display: flex;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14pt;
}

#high {
    margin-top: 25px;
    padding-left: 37%;
    color: rgb(100, 100, 100);
}

#low {
    margin-top: 25px;
}

#forecast-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    border: rgb(143, 143, 143);
    border-style: solid;
    border-width: thin;
    width: min-content;
    padding: 0px;
}

#search-bar {
    text-align: center;
    padding-top: 55px;
}